body {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
li,
ul,
p {
  padding: 0;
  margin: 0;
}
header {
  padding: 8px;
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.logo {
  display: flex;
  justify-content: center;
  color: #4671d5;
}
.logo-appear {
  transform: translateY(-100%);
}
.logo-appear-active {
  transform: translateY(0);
  transition: transform 500ms linear;
}
.error {
  position: fixed;
  top: 20px;
  right: 10px;
  background-color: #e60042;
  color: white;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 6px;
  box-shadow: 4px 4px 24px 8px rgba(34, 60, 80, 0.2);
}
.error-enter {
  transform: translateX(100%);
}
.error-enter-active {
  transform: translateX(0);
  transition: transform 500ms linear;
}
.error-exit {
  transform: translateX(0);
}
.error-exit-active {
  transform: translateX(100%);
  transition: transform 500ms linear;
}
.addForm {
  display: flex;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 4px 12px 7px rgba(34, 60, 80, 0.2);
}
.nameInp {
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid silver;
}
.nameInp:focus {
  border-radius: 4px;
  outline: 1px solid transparent;
  border: 1px solid #4671d5;
}
.numberInp {
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid silver;
}
.numberInp:focus {
  border-radius: 4px;
  outline: 1px solid transparent;
  border: 1px solid #4671d5;
}
.btnSub {
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #4671d5;
  box-shadow: 0px 4px 9px -1px rgba(34, 60, 80, 0.2);
}
.btnSub:hover {
  background-color: #6d87d6;
  cursor: pointer;
  transition: all 250ms linear;
}
.filter {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  width: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 4px 12px 7px rgba(34, 60, 80, 0.2);
  margin-left: auto;
  margin-right: auto;
}
.textFilter {
  margin-bottom: 10px;
}
.filterInp {
  padding: 9px;
  border-radius: 4px;
  border: 1px solid silver;
}
.filterInp:focus {
  border-radius: 4px;
  outline: 1px solid transparent;
  border: 1px solid #4671d5;
}
.TaskList {
  padding: 0;
  margin: 0 auto;
}
.TaskListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 4px 12px 7px rgba(34, 60, 80, 0.2);
}
.TaskListItem:not(:last-child) {
  margin-bottom: 3px;
}
.TaskListItem-enter {
  transform: translateX(-30%);
}
.TaskListItem-enter-active {
  transform: translateX(0);
  transition: all 250ms linear;
}
.TaskListItem-exit {
  transform: translateX(0);
}
.TaskListItem-exit-active {
  transform: translateX(-30%);
  transition: all 250ms linear;
}
.titleCon {
  margin: 0;
  padding: 0;
}
.btndel {
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #e60042;
  cursor: pointer;
}
.icondel {
  fill: #2196f3;
  height: 100%;
  width: 100%;
}
#ListContacts {
  display: flex;
}
.alertValid-enter {
  opacity: 0;
}
.alertValid-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.alertValid-exit {
  opacity: 1;
}
.alertValid-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}
.alertValid {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 5px 10px;
  transform: translateX(-50%);
  background: #fb2525;
  text-align: center;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 8px 3px rgb(34 60 80 / 20%);
  transition: all 300ms linear;
}
.containerReg {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.formAuth {
  display: flex;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.labelAuth {
  margin: 0 auto;
  position: relative;
}
.inputAuth {
  margin-bottom: 20px;
}
.buttonAuth {
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.buttonNav {
  background-color: #4671d5;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 250ms linear;
}
.buttonNavReg {
  margin-left: 10px;
  background-color: rgb(73 165 65);
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 250ms linear;
}
.buttonNav:hover {
  color: #4671d5;
  background-color: #fff;
  border: 1px solid #4671d5;
}
.buttonNavReg:hover {
  color: rgb(73 165 65);
  background-color: #fff;
  border: 1px solid rgb(73 165 65);
}
.activeButton {
  color: #fff;
  background-color: darkgray;
  transition: all 250ms linear;
}
.buttonCon {
  margin-left: 10px;
}
.buttonLogout {
  background-color: #d22323;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 250ms linear;
}
.buttonLogout:hover {
  color: #d22323;
  border: 1px solid #d22323;
  background-color: #fff;
}
.titleAvatar {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.imgAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
}
